.questionCard {
    max-width: 1100px;
    background: #ebfeff;
    border-radius: 10px;
    border: 2px solid #0085a3;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.questionCard>p {
    color: #fff;
    font-size: 1rem;
}